@charset "utf-8";
@import "compass/typography";
@import "compass/css3";

.header-top{
	background:#fff;
	border-bottom:1px solid #ddd;
	padding:1rem;
	text-align:center;
	strong{
		font-size:1.2rem;
	}
	a{
		color:#0c61ff;
		float:left;
		font-size:1.2rem;
		text-decoration:none;
	}
}
.car-ul{
	li{
		background:#fff;
		border-top:1px solid #ddd;
		padding:0.5rem;
		position:relative;
		&:first-child{
			border:0;
		}
	}
	.car-list{
		.car-icon{
			background:#1b79ff;
			color:#fff;
			float:left;
			font-size:1.4rem;
			height:2.5rem;
			line-height:2.5rem;
			margin-right:0.5rem;
			text-align:center;
			width:2.5rem;
			@include border-radius(50%);
		}
		.car-icon-ren{
			background:none;
			border:1px solid #1b79ff;
			color:#1b79ff;
		}
		.car-list-label{
			display:inline-block;
			width:76%;
			label{
				color:#0c61ff;
				display:block;
				font-size:1rem;
				font-weight:bold;
				b{
					border:1px solid #0c61ff;
					display:inline-block;
					font-size:0.8rem;
					margin-left:10px;
					padding:0.2rem 0.4rem;
					padding-top:0.3rem;
				}
			}
			strong{
				color:#000;
				display:block;
				font-size:0.8rem;
				margin-top:0.4rem;
				overflow:hidden;
				div{
					float:left;
					line-height:1.2rem;
					width:90%;
				}
				em{
					color:#999;
					font-size:0.8rem;
					margin-left:0.2rem;
				}
				i{
					color:#fff;
					display:inline-block;
					float:left;
					font-size:0.6rem;
					height:1rem;
					line-height:1.1rem;
					margin-right:0.2rem;
					text-align:center;
					width:1rem;
					@include border-radius(50%);
				}
				.start{
					background:#358a2d;
				}
				.end{
					background:#ef2856;
				}
			}
		}
		img{
			margin-right:.5rem;
			right:0;
			position:absolute;
			top:1.5rem;
			width:2rem;
		}
	}

}
.car-list-info{
	color:#999;
	font-size:.6rem;
	margin-top:.5rem;
}