@charset "utf-8";
@import "compass/typography";
@import "compass/css3";

.header-top{
	background:#fff;
	border-bottom:1px solid #ddd;
	padding:1rem;
	text-align:center;
	strong{
		font-size:1.2rem;
	}
	a{
		color:#0c61ff;
		float:left;
		font-size:1.2rem;
		text-decoration:none;
	}
}
section{
	h1{
		color:#666;
		font-size:1rem;
		padding:0.8rem;
	}
	h2{
		color:#666;
		font-size:0.8rem;
		padding:0.8rem;
	}
	ul{
		background:#fff;
		padding-left:0.8rem;
		li{
			border-bottom:1px solid #ddd;
			padding:1rem 0;
			text-align:right;
			b{
				float:left;
			}
			strong{
				color:#0c61ff;
				font-size:1.2rem;
				margin-right:1rem;
			}
			span{
				margin-right:0.5rem;
			}
			textarea{
				border:1px solid #ddd;
				height:5rem;
				margin-right:1rem;
				margin-top:0.5rem;
				padding:0.5rem;
				width:95%;
				@include border-radius(5px);
			}
			em{
				margin-right:0.5rem;
			}
			i{
				margin-right:1rem;
			}
			&:last-child{
				border-bottom:0;
			}
			.order-normal{
				background:#fff;
				border:1px solid #ddd;
				display:inline-block;
				height:2rem;
				margin-right:1rem;
				margin-top:-8px;
				position:relative;
				width:4rem;
				@include border-radius(2rem);
				em{
					background:#fff;
					display:inline-block;
					height:1.8rem;
					left:2px;
					margin-right:0;
					position:absolute;
					top:2px;
					width:1.8rem;
					@include border-radius(50%);
					@include box-shadow(1px 2px 5px #999);
				}
			}
			.active{
				background:#0c61ff;
				border:0;
				em{
					left:auto;
					right:2px;
				}
			}
		}
	}
}
.footer-publish{
	background:#0c61ff;
	color:#fff;
	font-size:1rem;
	padding:0.8rem 0;
	text-align:center;
}
.publish-info{
	.screen{
		background:#000;
		bottom:0;
		left:0;
		position:absolute;
		right:0;
		top:0;
		z-index:3;
		@include opacity(0.5);
	}
}
.publish-select{
	background:#fff;
	bottom:0;
	position:absolute;
	width:100%;
	z-index:5;
	ul{
		li{
			border-top:1px solid #ddd;
			padding:1rem;
			text-align:center;
		}
	}
}
.select-time{
	background:#fff;
	bottom:0;
	height:180px;
	position:absolute;
	width:100%;
	z-index:4;
	span{
		border:1px solid #4eccc4;
		display:inline-block;
		padding:5px 10px;
		position:absolute;
		right:10px;
		top:10px;
		z-index:1;
	}
}
.select-time-border{
	border-top: 1px solid #4eccc4;
    border-bottom: 1px solid #4eccc4;
	height:40px;
	position: absolute;
    z-index: 1;
    top: 50%;
    left: 10%;
    width: 80%;
    pointer-events: none;
    margin-top:-20px;
}
.select-time-ul{
	height:180px;
	margin-left:12%;
	// bottom:80px;
	position: absolute;
    padding: 1px;
    overflow: hidden;
    // top:80px;
    width:80%;
    
    li{
    	height:60px;
    	line-height:60px;
    	text-align:center;
    }
    .select-active{
    	color:#4eccc4;
    }
}
.address-search{
	margin-top:52px;
	padding:10px 0;
	input{
		background:#fff;
		border:0;
		margin-left:5%;
		padding:10px;
		width:85%;
		@include border-radius(5px);
		&:focus{
			outline:none;
		}
	}
}
.address-list{
	background:#fff;
	overflow-y:auto;
	li{
		border-bottom:1px solid #eee;
		font-size:1rem;
		padding:0.8rem;
	}
	.active{
		background:#ddd;
	}
}
//日历
.page {display: none;position: absolute;top: 0;left: 0;bottom: 0;right: 0;width: 100%;height: 100%;overflow: hidden;}
#datescroll div{float: left;margin-left: 10%;margin-top: 15px;padding-right: 22px;}
#datescroll_datetime div{float: left;margin-left: 10%;padding-right: 22px;}
#yearwrapper{position: absolute;left: 0;top:45px;bottom: 60px;width:80%;}
#monthwrapper{position: absolute;left: 26%;top:45px;bottom: 60px;width:80%;}
#daywrapper{position: absolute;left: 50%;top:45px;bottom: 60px;width:80%;}
#Hourwrapper{position: absolute;left: 0;top:195px;bottom: 68px;width:80%;}
#Minutewrapper{position: absolute;left: 40%;top:195px;bottom: 68px;width:80%;}
#Secondwrapper{position: absolute;left: 50%;top:195px;bottom: 68px;width:80%;}
/*增加手指滑动触摸面积*/
#Hourwrapper ul li{color: #898989;font-size: 12px;}
#Minutewrapper ul li{color: #898989;font-size: 12px;}
#Secondwrapper ul li{color: #898989;font-size: 12px;}
#yearwrapper ul li{color: #898989;font-size: 12px;}
#monthwrapper ul li{color: #898989;font-size: 12px;}
#daywrapper ul li{color: #898989;font-size: 12px;}
#markyear{position:relative; margin-left: 76px;top:-2px;}
#markmonth{position:relative; margin-left: 40px;top:-2px;}
#markday{position:relative; margin-left: 42px;top:-2px;}
#markhour{position:relative; margin-left: 62px;top:-2px;}
#markminut{position:relative; margin-left: 58px;top:-2px;}
#marksecond{position:relative; margin-left: 68px;top:-2px;}
#dateheader{width: 100%;height: 50px;background: #79C12F;text-align: center;color: #fff;line-height: 50px;font-size: 20px;}
#setcancle ul{text-align: center;line-height: 30px; margin:1px auto;font-size: 20px;}
#setcancle ul li{border-radius:3px;float: left;width: 40%;height: 30px;list-style-type: none;font-family:'microsoft yahei';font-size:16px;}
#dateconfirm{position: absolute;background:#0c61ff;left:20px;color:#fff;}
#datecancle{position: absolute;background:  #dcdddd;right:20px;width: 40%;color:#666;}
#dateshadow{display: none;position: absolute;width: 100%;height: 100%;top:0;left:0;background: #000; filter:alpha(Opacity=50);-moz-opacity:0.5;opacity: 0.5;z-index:3;}
#datePage{font-size: 22px; border-radius: 3px; position:absolute;top:110px;MARGIN-RIGHT: auto;vertical-align:middle;
MARGIN-LEFT: auto;width: 80%;;height: 240px;background: #FFFFFF;z-index:9999999;}
#datetitle{width: 100%;height:50px;background: #0c61ff;text-align: center;color: #fff;line-height: 50px;font-size: 20px;font-family:'microsoft yahei';}
#datetitle h1{font-weight:normal;}
#datemark{font-size: 18px;left:5%;width: 90%;height: 20px;position:absolute;top:108px;background:#eee;border:1px solid #eee;}
#timemark{font-size: 18px;left:5%;width: 90%;height: 20px;position:absolute;top:242px;background:#eee;border:1px solid #eee;}
#datescroll{background: #F8F8F8;width:94%; margin:10px 3%;border: 1px solid #E0E0E0;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#datescroll_datetime{display: none;background:#F8F8F8;width:94%; margin:10px 3%;margin-top: 10px;border: 1px solid #E0E0E0;border-radius: 4px;height: 120px;text-align: center;line-height: 40px;}
#yearwrapper ul,#monthwrapper ul,#daywrapper ul{width:40%;}
#Hourwrapper ul,#Minutewrapper ul,#Secondwrapper ul{width:50%;}
#dateFooter{width:100%;background: #fff;height: 50px;bottom: 0px;position: absolute;}